<div id="TimeImageControll" class="carousel slide time" data-ride="carousel" data-interval='false'>
  <div class="carousel-inner">
    <% @names.parse(@names.sorted).each_with_index do |value, i| %>
    <div class="carousel-item <%= add_class(i) %>" carousel-number="<%= @names.sorted[i] %>" id="<%= i %>">

      <p class="time-text"><%= value.strftime("%H時%M分") %></p>
      <h1 class="date-text"><%= value.strftime("%m-%d") %></h1>
      <p class="year-text"><%= value.strftime("%Y") %></p>

    </div>
    <%end%>
  </div>
</div>

<style>
  .year-text {
    font-size: 50px;
    letter-spacing: 10px;
  }

  .date-text {
    display: block;
    font-size: 70px;
    letter-spacing: 10px;
  }

  .time-text {
    display: block;
    font-size: 50px;
    letter-spacing: 10px;
    margin: auto;
  }
</style>