<%= render partial: 'layouts/header' %>

<div class="container">
  <% if browser.ie? then %>
  <p>このブラウザでは正しく表示することができません（＞＜）</p>
  <p>chromeやMicrosoft Edgeなどの最新のブラウザを使用してください</p>
  <% end %>

  <%= render partial: 'nav' %>
  <div class="row">
    <div class="contents col-sm-12 col-md-6 ">
      <%= render partial: 'time' %>
    </div>
    <div class="contents col-sm-12 col-md-6">
      <%= render partial: 'chart' %>
      <p>天気図</p>
    </div>
  </div>
  <div class="row">
    <div class="contents col-sm-12 col-md-6">
      <%= render partial: 'wind' %>
      <p>風予想</p>
    </div>
    <div class="contents col-sm-12 col-md-6">
      <%= render partial: 'wave' %>
      <p>波予想</p>
    </div>
  </div>
</div>


<script>
  console.log("-----chart-----")
  console.log(gon.chart)
  console.log("-----wind----")
  console.log(gon.wind)
  console.log("-----wave----")
  console.log(gon.wave)
</script>